body
{
   background-image: linear-gradient(to bottom right, #c21500, #d65000, #eb8b00, #f5a800, #ffc500, #ffcb4a, #ffce6f, #ffd194);
}
#heading
{
   font-family: 'Yeon Sung', cursive;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 50%;
   width: 600px;
   font-size: 65px;
}
#following
{
   font-family: 'Pacifico', cursive;
   font-size: 30px;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 10%;
   width: 600px;
   height: 150px;
   padding-top: 70px;
}
.emojiiiii
{
   font-family: 'Cookie', cursive;
   font-size: 50px;
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 10%;
   width: 800px;
   height: max-content;
   padding-top: 0px;
}
.hr
{
   width: 780px;
   border-top: 10px dotted black;
}
.box
{
   height: 317px !important;
   width: 370px !important;
   border: 10px solid transparent;
   border-image: url(border.png) 30 stretch;
}
.text
{
   font-family: 'Indie Flower', cursive;
   font-size: 45px;
}
.prediction
{
   font-family: 'Seymour One', sans-serif;
   font-size: 50px;
   padding-top: 50px;
}
#marker
{
   width: 300px;
   font-size: 40px;
}
.controls
{
   font-family: 'Great Vibes', cursive;
   font-size: 30px;
   border: 5px solid black;
   border-radius: 20px;
   background: linear-gradient(to bottom right, #f12711, #f5af19);
   padding-top: 7px;
}